<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" ng-model="point.name">
  </div>
  <div class="form-group">
    <label for="latitude">Latitude</label>
    <input type="text" id="latitude" class="form-control" ng-model="point.latitude">
  </div>
  <div class="form-group">
    <label for="longitude">Longitude</label>
    <input type="text" id="longitude" class="form-control" ng-model="point.longitude">
  </div>
  <div class="form-group">
    <label for="hint">Hint</label>
    <input type="text" id="hint" class="form-control" ng-model="point.hint">
  </div>

  <input type="submit" class="btn btn-primary" ng-click="save()">
</form>
