<ui-view>
  <a ui-sref="admin.points.add" class="btn btn-primary">Add point</a>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Hint</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="point in points">
        <td>{{ $index + 1 }}</td>
        <td>{{ point.name }}</td>
        <td>{{ point.latitude }}</td>
        <td>{{ point.longitude }}</td>
        <td>{{ point.hint }}</td>
        <td class="text-right">
          <a class="btn btn-warning btn-xs" ui-sref="admin.points.edit({ id: point.id })">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a class="btn btn-danger btn-xs" ng-click="delete(point)">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</ui-view>
