<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{ googleMapsUrl }}">
  <ng-map center="48.866, 2.333" zoom="5">
    <div ng-repeat="p in points">
      <marker ng-if="p.final" position="[{{ p.latitude }}, {{ p.longitude }}]" title="{{ p.name }}" icon="{{ flagIconUrl }}"></marker>
      <marker ng-if="!p.final" position="[{{ p.latitude }}, {{ p.longitude }}]" title="{{ p.name }}"></marker>
    </div>
  </ng-map>
</div>
<table class="table table-striped table-hover" ng-if="points.length > 0">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Hint</th>
      <th class="right aligned">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in points">
      <td>{{ $index + 1 }}</td>
      <td>
        <span class="label label-success">{{ p.final ? 'Final' : '' }}</span>
        {{ p.name }}
      </td>
      <td>{{ p.latitude }}</td>
      <td>{{ p.longitude }}</td>
      <td>{{ p.hint }}</td>
      <td class="right aligned">
        <button class="small success button" ng-if="!p.final" ng-click="setFinalPoint(p)">
          Set final
        </button>
        <button class="small warning button" ng-click="editPoint(p)">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="small danger button" ng-click="deletePoint(p)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<form ng-if="points.length < pointsCount || editIndex != null">
  <div class="field" ng-class="errors.name ? 'has-error' : ''">
    <label for="name">Name</label>
    <input type="text" id="name" class="input" ng-model="point.name">
    <span class="help-block">{{ errors.name }}</span>
  </div>
  <div class="field" ng-class="errors.latitude ? 'has-error' : ''">
    <label for="latitude">Latitude</label>
    <input type="text" id="latitude" class="input" ng-model="point.latitude">
    <span class="help-block">{{ errors.latitude }}</span>
  </div>
  <div class="field" ng-class="errors.longitude ? 'has-error' : ''">
    <label for="longitude">Longitude</label>
    <input type="text" id="longitude" class="input" ng-model="point.longitude">
    <span class="help-block">{{ errors.longitude }}</span>
  </div>
  <div class="field" ng-class="errors.hint ? 'has-error' : ''">
    <label for="hint">Hint</label>
    <input type="text" id="hint" class="input" ng-model="point.hint">
    <span class="help-block">{{ errors.hint }}</span>
  </div>

  <input type="submit" class="primary button" value="Validate point" ng-click="validatePoint()">
</form>
<button class="success button" ng-if="points.length == pointsCount" ng-click="submitQuestion()">Submit question</button>
