<div class="ui container">
  <h1 class="ui center aligned header">Sign up</h1>
  <form class="ui form">
    <div class="field">
      <label for="username">Username</label>
      <input type="text" id="username" ng-model="user.username">
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input type="text" id="email" ng-model="user.email">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" id="password" ng-model="user.password">
    </div>
    <div class="field">
      <label for="password-confirm">Confirm password</label>
      <input type="password" id="password-confirm" ng-model="user.passwordConfirmation">
    </div>
    <input type="submit" class="ui teal circular button" value="Register" ng-click="register()">
  </form>
</div>
