
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 500px;
}

.topbar {
  @extend .navbar, .navbar-default, .navbar-fixed-top;

  .right.menu {
    @extend .nav, .navbar-nav, .navbar-right
  }
}

.ng-invalid {
  border-color: red;
  outline-color: red;
}

.ng-valid {
  border-color: green;
  outline-color: green;
}

/*********************************************/
/* ---------- BOOTSTRAP OVERRIDES ---------- */
/*********************************************/

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

.right.aligned {
  @extend .text-right;
}

.field {
  @extend .form-group;
}

.input {
  @extend .form-control;
}

.button {
  @extend .btn;
  &.primary {
    @extend .btn-primary;
  }
  &.success {
    @extend .btn-success;
  }
  &.info {
    @extend .btn-info;
  }
  &.warning {
    @extend .btn-warning;
  }
  &.danger {
    @extend .btn-danger;
  }

  &.mini {
    @extend .btn-xs;
  }
  &.small {
    @extend .btn-sm;
  }
  &.large {
    @extend .btn-lg;
  }
}

.message {
  @extend .alert;
  &.success {
    @extend .alert-success;
  }
  &.info {
    @extend .alert-info;
  }
  &.warning {
    @extend .alert-warning;
  }
  &.danger {
    @extend .alert-danger;
  }
}
